.dropdown > a.parent_link { position: relative;}
a.parent_link{
    margin-right: 5px;
}
/*Стрелка*/
.arrow{
    width: 10px;
    height: 10px;
    border-top: 3px solid #6E18C0;
    border-right: 3px solid #6E18C0;
    margin-right: 10px;
}
.arrow{
    display: inline-block;
    cursor: pointer;
}
.arrow-top { transform: rotate(-45deg); }
.arrow-bottom { transform: rotate(135deg); }
.arrow-right { transform: rotate(45deg); }
.arrow-left { transform: rotate(-135deg); }
