html{height: 100%;}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*
* flex-grow — определяет, сколько свободного места в контейнере переходит к элементу;
* flex-shrink — определяет, насколько будет сокращаться элемент, когда для всего не будет достаточно места;
* flex-basis — размер для элемента, установленный по умолчанию.
*/
header{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}
.main-content{
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
}
footer{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}

/* Стили для скрытия/отображения элементов меню */
.hide {
    display: none;
}
.show {
    display: block;
}